<h3>Create Note</h3>
<div [hidden]="confirmed" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Priority</label>
      <input type="text" class="form-control" id="priority" required [(ngModel)]="note.priority" name="priority">
    </div>

    <div class="form-group">
      <label for="name">NoteText</label>
      <input type="text" class="form-control" id="noteText" required [(ngModel)]="note.noteText" name="noteText">
    </div>

    <div class="form-group">
      <label for="name">State</label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="note.state" name="state">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!confirmed">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>