<div class="panel panel-primary">
    <div class="panel-heading">
<h2>Notes</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes | async">
                        <td>{{note.state}}</td>
                        <td>{{note.priority}}</td>
                        <th>    <div>
                            <p class="note-text" [innerHtml]="note.noteText"></p>
                          </div></th>
                        <div *ngIf="isLoggedIn" class="bar-option">   
                            <td><button (click)="deleteNote(note.id)" class="btn btn-danger">Delete</button>
                                <button (click)="displayNote(note.id)" class="btn btn-info" style="margin-left: 10px;">Show</button>
                                <button (click)="modifyNote(note.id)" class="btn btn-info" style="margin-left: 10px;">Modify</button>
                                </td>
                            </div>
                     <div *ngIf="!isLoggedIn">
                        <button (click)="displayNote(note.id)" class="btn btn-info" style="margin-left: 10px;">Show</button>
                     </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>