<h3>Update Note</h3>
<div style="width: 400x;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" id="status" required [(ngModel)]="note.state" name="status">
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Priority</label>
      <select class="form-control" [(ngModel)]="selectedOption" (ngModelChange)='onNoteSelected($event)' name="exampleFormControlSelect1">
        <option *ngFor="let priority of priorities" [ngValue]="priority.name">
          {{priority.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Note</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" required [(ngModel)]="note.noteText" name="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>